%h1
  Notham list (
  = link_to('Start', :new_notam)
  )
%hr
%table.table.table-striped
  %thead
    %tr
      %td code icao
      - days_list.each do |day_name|
        %td= day_name.to_s.humanize
  %tbody
    - notams.each do |notam|
      %tr
        %td= notam.icao
        - notam.days.all.values.each do |value|
          %td= value
