%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} Notam

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to('Welcome', root_path)
      = form_tag(upload_notams_path, multipart: true, :class => 'navbar-form navbar-left navbar-right') do
        %span Uplad file:
        .form-group
          = file_field_tag(:source)
        = submit_tag("Upload file", :class => 'btn btn-default')
