!!!
%html
  %head
    %title NotamReader
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'menu'
    - flash.each do |type, message|
      .alert.fade.in{ :class => bootstrap_class_for(type), role: 'alert'}
        %span= message
    = yield
